html {
    font-size: 40%;
}
.profilePic {
    height: 10rem;
}
.main {
    max-width: 100vw;
    min-width: 100vw;
    padding: 2rem 2rem 0rem 2rem;
}
.profileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.hobbies {
    width: 100%;
}
.music {
    padding-top: 2rem;
    width: 100%;
}
.other {
    display: flex;
    flex-direction: column;
}