*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: var(--primary);

    --background1: #f2e5d7;
    --background2: #242831;
    --primary: #262322;
    --secondary: #403C39;
    --third: #8c847d;
    --special: #AB3936;
    --special2: #DCC760;
    --spare: #ff00dd;

    --header1 : 7rem;
    --header2 : 3.5rem;
    --header3 : 2.8rem;
    --header4 : 2.2rem;
    --header5 : 1.8rem;
    --par : 1.8rem;
    --tiny: 1.5rem;
}
h1 {
    font-family: 'Josefin Slab';
    font-style: italic;
    font-size: var(--header1);
    font-weight: 400;
}
h2 {
    font-size: var(--header2);
    font-weight: 300;
}
h3 {
    font-size: var(--header3);
    font-weight: 300;
}
h4 {
    font-size: var(--header4);
    font-weight: 300;
}
P {
    font-size: var(--par);
    font-weight: 400;
}
body {
    background: var(--background1);
    /* font-size: 1.7rem; */
    padding-bottom: 6.5rem;
}
hr {
    height: 2px;
    background: var(--primary);
    border: none;
}

header {
    text-align: center;
    background: var(--background1);
    padding-top: 2rem;
    padding-bottom: 1rem;
}
header hr {
    width: 10rem;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    top: 2rem;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    /* background: var(--third); */
    height: 50rem;
}
.main {
    padding: 4rem 0 0 0;
    max-width: 90rem;
    min-width: 90rem;
    /* background: var(--secondary); */
}
.profileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profileImgContainer {
    border-radius: 50%;
    border: 3px solid var(--background1);
    outline: 3px solid var(--primary);
    overflow: hidden;
    line-height: 0;
}
.profilePic {
    height: 20rem;
    aspect-ratio: 1 / 1;
    position: relative;
    object-fit: cover;
    transition: transform .3s ease;
}
.profilePic:hover {
    transform: scale(1.1);  
}
.profileDescription {
    padding: 0rem 0rem 0rem 0rem;
    /* background: white; */
    flex: 1 1;
    padding: 0rem 4rem 0rem 4rem;
}
.profileDescription h4 {
    margin-top: -0.8rem;
} 
.profileFollowers {
    padding: 0rem 0rem 1rem 0rem;
}
.profileFollowers p span {
    padding: 0rem 1rem 0rem 0rem;
}

.main hr {
    margin: 4rem 0rem 2rem 0rem;
}

.works {
    padding: 0rem 0rem 0rem 0rem;
    position: relative;
}
.works h2{
    padding: 0rem 0rem 1rem 0rem;
}
.worksGallery {
    width: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.worksGallery::-webkit-scrollbar {
    display: none;
  }
.worksPost {
    overflow: hidden;
    border-radius: 0.6rem;
    /* border: 3px solid var(--background1);
    outline: 3px solid var(--primary); */
    line-height: 0;
    display: inline-block;
    margin: 0rem 1rem 0rem 0rem;
}
.worksImage {
    height: 34.5rem;
    /* aspect-ratio: 2 / 3; */
    width: 23rem;
    object-fit: cover;
    transition: transform .3s ease;
}
.worksImage:hover {
    transform: scale(1.1);  
    cursor: pointer;
}
.worksGalleryGrad {
    position: absolute;
    right: 0;
    width: 5rem;
    height: 100%;
    background: linear-gradient(to left, rgba(242, 229, 215, 1), rgba(242, 229, 215, 0));
    top: 0rem;
    bottom: 0rem;
    z-index: 1;
    pointer-events: none;
}

.worksDescription {
    display: none;
    border-radius: 0.6rem;
    margin: 0.5rem 0rem 0rem 0rem;
    background: var(--secondary);
    color: var(--background1);
    overflow: hidden;
}
.notHidden {
    display: block;
}



/* .worksDescription::before {
    position: absolute;
    content: " ";
    z-index: -1;
    height: 4rem;
    width: 1rem;
    background: var(--secondary);
    transform: translate(2rem, -100%);
} */
.worksDescription hr {
    background: var(--background1);
    margin: 0;
    padding: 0;
}
.worksDescription h3{
    padding: 1rem 3rem 0.7rem 3rem;

}
.worksDescription p{
    width: 100%;
    padding: 1.5rem 3rem 2rem 3rem;
    display: inline-block;
}
.player, 
video {
    width: 100%;
    aspect-ratio: 16/9;
    padding: 0rem 3rem 2rem 3rem;
    display: inline-block;
}

.other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.hobbies {
    width: 50%;
}
.hobbies p {
    margin-top: 50rem;
}
.music {
    width: 50%;
    overflow: hidden;
}

.landing {
    margin-top: 10rem;
    background: var(--primary);
    color: var(--background1);
    width: 100%;
    height: 20rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}